@import url(https://cdn-font.hyperos.mi.com/font/css?family=MiSans_VF:VF:Chinese_Simplify,Latin&display=swap);

:root {
    --background-color: #fafafa;
    --text-color: #333;
    /* --link-color: #007bff;
    --link-hover-color: #0056b3; */
    --blur-background-color: rgba(255 255 255 / 0.5);
    --blur-background-color-hover: rgba(255 255 255 / 0.3);
    --blur-filter: blur(1em);
    --card-border: 1px solid var(--blur-background-color);
    --card-border-radius: 1em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333;
        --text-color: #fafafa;
        --blur-background-color: rgba(0 0 0 / 0.5);
    }

    img {
        filter: brightness(75%);
    }
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "MiSans VF", system-ui, sans-serif;
}

* {
    box-sizing: border-box;
}

.card {
    background-color: var(--blur-background-color);
    backdrop-filter: var(--blur-filter);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    padding: 1em;
}